vulkan_guide_project/.vcxproj
vulkan_guide_project/.vcxproj.filters
vulkan_guide_project/.vcxproj.users
vulkan_guide_project/.cmake
vulkan_guide_project/.sln
vulkan_guide_project/.git
vulkan_guide_project/.vs
vulkan_guide_project/CMakeFiles/
vulkan_guide_project/x64/
third_party/
vulkan-guide/assets/
vulkan-guide/bin/
vulkan-guide/CMakeFiles/
vulkan-guide/third_party/
engine.dir/
