.vcxproj
.vcxproj.filters
.vcxproj.users
.cmake
.sln
.git
.vs
CMakeFiles/
x64/
third_party/
vulkan_guide_project/src/
vulkan-guide/assets/
vulkan-guide/bin/
vulkan-guide/CMakeFiles/
vulkan-guide/third_party/
engine.dir/
